.container {
    padding: 10px 25% 100px 25%;
}
.headerText {
    text-align: center;
    font-size: 28px;
    color: #449bff;
    margin-bottom: 50px;
}
.headerText p {
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
