.container {
    padding: 10px 20% 100px 20%;
}

.aboutRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0 0 0;
}
.aboutCol1 {
    text-align: center;
    flex-basis: 40%;
}
.aboutCol1 img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 100% 0%;
    border-radius: 50px;
}

.aboutCol2 {
    flex-basis: 50%;
}
.aboutCol2 h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    color: #449bff;
}

.aboutCol2 p {
    text-align: justify;
    font-size: 24px;
}

.description {
    padding-bottom: 50px;
}
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px 35px 100px 35px;
    }
    .about {
        padding: 0 0 30px 0;
    }
    .aboutRow {
        flex-direction: column;
    }
    .aboutCol1 {
        flex-basis: 100%;
        margin: 0 0 15px;
    }
    .aboutCol2 {
        flex-basis: 100%;
    }
    .aboutCol2 p {
        font-size: 18px;
    }
    .description {
        padding-bottom: 10px;
    }
}
